In [1]:
import numpy as np
import pandas as pd

In [2]:
train = pd.read_csv('/root/workspace/open/train.csv')
sales = pd.read_csv('/root/workspace/open/sales.csv')
keyword = pd.read_csv('/root/workspace/open/brand_keyword_cnt.csv')

In [6]:
info = pd.read_csv('/root/workspace/open/product_info.csv')

In [3]:
train.head()

,ID,제품,대분류,중분류,소분류,브랜드,쇼핑몰,2022-01-01,2022-01-02,2022-01-03,...,2023-04-15,2023-04-16,2023-04-17,2023-04-18,2023-04-19,2023-04-20,2023-04-21,2023-04-22,2023-04-23,2023-04-24
0,SAMPLE_00000,B002-00001-00001,B002-C001-0002,B002-C002-0007,B002-C003-0038,B002-00001,S001-00001,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,SAMPLE_00001,B002-00002-00001,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-00002,S001-00001,0,0,0,...,2,0,2,0,2,2,1,0,0,0
2,SAMPLE_00002,B002-00002-00002,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-00002,S001-00001,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,SAMPLE_00003,B002-00002-00003,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-00002,S001-00001,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,SAMPLE_00004,B002-00002-00004,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-00002,S001-00010,0,0,0,...,10,6,4,4,4,0,0,0,0,8

In [4]:
train['쇼핑몰'].value_counts()

S001-00001    11226
S001-00004     6927
S001-00003     3250
S001-00002     3104
S001-00010     1844
S001-00008     1748
S001-00005      519
S001-00007      116
S001-00006       81
S001-00009       79
Name: 쇼핑몰, dtype: int64

In [5]:
train.shape

(28894, 486)

In [ ]:
train[train[]]